<header class="shadow-md p-3 w-full max-h-25 fixed top-0 z-50 bg-rose-400">
    <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
        <nav class="flex gap-3 my-2 uppercase text-2xl">
            <a  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Play</a>
            <a  routerLink="/rules" routerLinkActive="active">Rules</a>
            <a  routerLink="/about" routerLinkActive="active">About</a>
        </nav>
    </div>
</header>

